body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game {
  display: flex;
  flex-direction: row;
  height: 500px;
  width: 500px;
  border: 1px solid pink;
}

.square.blue {
  background: blue;
}

.game-info {
  margin-left: 20px;
}

.score-board {
  width: 100px;
  height: 50px;
}

.score-board span {
  display: block;
}

.status {
  margin-bottom: 10px;
}

/* Good place for sass-json... */
.board.playing {
  width: 100px; /* 10 * 10 */
  height: 250px; /* 25 * 10 */
}

.board.preview {
  background: grey;
  width: 60px; /* 6 * 10 */
  height: 60px; /* 6 * 10 */
}

.board .row.hidden {
  display: none;
}

.board .row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #000;
  border: 1px solid white;
  box-sizing: border-box;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 10px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  width: 10px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

